<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/styles/choices.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <script src="/public/scripts/choices.min.js"></script>
</head>
<body>
    <%- include('./partials/Navbar.ejs') %>
    <br>
    <%- include("partials/errors.ejs") %>
    <form action="/games/edit/<%= game.id %>" method="post">
        <div>
            <label for="name">Name: </label>
            <input type="text" id="name" name="game_name" value="<%= game.name %>">
        </div>
        <div>
            <label for="description">Description: </label>
            <textarea id="description" name="game_description" value="<%= game.description %>"></textarea>
        </div>
        <div>
            <label for="date">Release Date: </label>
            <input type="date" name="game_date" id="date" value="<%= game.release_date %>">
        </div>
        <div>
            <label for="price">Price: </label>
            <input type="number" name="game_price" id="price" value="<%= game.price %>">
        </div>
        <div>
            <label for="quantity">Quantity: </label>
            <input type="number" name="game_quantity" id="quantity" value="<%= game.quantity %>">
        </div>
        <div>
            <label for="url">Cover URL: </label>
            <input type="text" id="url" name="game_url" value="<%= game.cover_url %>">
        </div>
        <label for="genres">Select genres:</label>
        <select name="genres[]" id="genres" multiple>
            <% locals.genres.map((genre) => { %>
                <div>
                    <option value="<%= genre.id %>"<% if(locals.game.genres.includes(genre.name)) { %> selected  <%} %> ><%= genre.name %></option>
                </div>
            <% }) %>
        </select>
        <label for="devs">Select developers:</label>
        <select name="developers[]" id="devs" multiple>
            <% locals.devs.map((dev) => { %>
                <div>
                    <option value="<%= dev.id %>" <% if(locals.game.developers.includes(dev.name)) { %> selected  <%} %> ><%= dev.name %></option>
                </div>
            <% }) %>
        </select>
        <button type="submit">Submit</button>
    </form>
    <script>
            document.addEventListener('DOMContentLoaded', function () {
                const genreSelect = new Choices('#genres', {
                    removeItemButton: true,
                    placeholderValue: 'Select genres',
                    closeDropdownOnSelect: true
                });
                const devSelect = new Choices('#devs', {
                    removeItemButton: true,
                    placeholderValue: 'Select developers',
                    closeDropdownOnSelect: true
                });
            });
    </script>
</body>
</html>