<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <% games.map((game) => { %>
        <a href="/games/<%= game.id %>"><%= game.name %></a>
        <form action="/games/delete/<%= game.id %>" method="post">
            <button>Delete game</button>
            <a href="/games/edit/<%= game.id %>">Edit</a> <br>
        </form>
    <% }) %>
    <a href="/games/add">Add game</a>
</body>
</html>