<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/games.css">
</head>
<body>
    <%- include('./partials/Navbar.ejs') %>
    <main>
        <div class="header">
            <h1>Games</h1>
            <a href="/games/add">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Add Game</title><path d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg>
                <p>Add game</p>
            </a>
        </div>
        <div class="table">
            <div class="column-name">
                <p>Game</p>
                <p>Price $</p>
                <p>Quantity</p>
                <p>Genre</p>
            </div>
            <% games.map((game) => { %>
                <div>
                    <div class="name-column">
                        <% if(!game.cover_url || game.cover_url === '') { %>
                            <img src="/images/no-image.jpg" alt="Cover image of <%= game.name %>">
                        <% } else { %>
                            <a href="<%= game.cover_url %>">
                                <img src="<%= game.cover_url %>" alt="Cover image of <%= game.name %>">
                            </a>
                        <% } %> 
                        <a href="/games/<%= game.id %>"><%= game.name %></a>
                    </div>
                    <p><%= game.price %>$</p>
                    <p><%= game.quantity %> pcs</p>
                    <p><%= game.genres.join(', ') %></p>
                    <a href="/games/<%= game.id %>">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Details</title><path d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" /></svg>
                    </a>
                    <a href="/games/edit/<%= game.id %>">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Edit</title><path d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" /></svg>
                    </a>
                    <form action="/games/delete/<%= game.id %>" method="post">
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Remove</title><path d="M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8,9H16V19H8V9M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5Z" /></svg>
                        </button>
                    </form>
                </div>
            <% }) %>
        </div>
    </main>
</body>
</html>